/* =========================================
   CONTENEDOR PRINCIPAL (MENÚ LATERAL)
   ========================================= */

.menu-lateral {
    -fx-background-color: #0f172b;
}

/* =========================================
   TÍTULO Y SEPARADORES
   ========================================= */

.label.titulo-menu {
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 27px;
    -fx-font-weight: bold;
}

.separator.separador-menu {
    -fx-background-color: #314158;
}

.separator.separador-menu *.line {
    -fx-border-color: #314158;
}

/* =========================================
   BOTONES DE NAVEGACIÓN (TOGGLE BUTTONS)
   ========================================= */

.toggle-button.menu-boton {
    -fx-background-color: transparent;
    /* En lugar de opacidad, usamos un gris claro/azulado directamente */
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18px; /* Un poc más grande para compensar la falta de ícono temporalmente */
    -fx-font-family: "Segoe UI";
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
    -fx-alignment: center-left;
    /* Aumentamos un poco el padding izquierdo para que no se pegue tanto al borde */
    -fx-padding: 10px 10px 10px 30px;
}

/* Hover: Iluminamos el texto y el fondo suavemente */
.toggle-button.menu-boton:hover {
    -fx-background-color: rgba(255, 255, 255, 0.08);
    -fx-text-fill: white;
}

/* Seleccionado / Activo: Fondo azul y texto 100% blanco */
.toggle-button.menu-boton:selected {
    -fx-background-color: #144DEB;
    -fx-text-fill: white;
}
/* =========================================
   BOTÓN CIRCULAR DEL PERFIL
   ========================================= */
.btn-avatar-perfil {
    -fx-background-color: #2563eb; /* Azul brillante */
    -fx-background-radius: 50em; /* Lo hace un círculo perfecto */
    -fx-min-width: 44px;
    -fx-min-height: 44px;
    -fx-max-width: 44px;
    -fx-max-height: 44px;
    -fx-cursor: hand;
    -fx-alignment: center;
    -fx-padding: 0; /* Quita el relleno por defecto para centrar bien el icono */
}

/* Efecto al pasar el ratón */
.btn-avatar-perfil:hover {
    -fx-background-color: #1e40af; /* Se pone azul más oscuro */
    -fx-effect: dropshadow(three-pass-box, rgba(37, 99, 235, 0.4), 10, 0, 0, 0); /* Brillo sutil */
}

/* Nombre principal */
.perfil-nombre {
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-font-family: "Segoe UI", sans-serif;
}

/* Rol del sistema */
.perfil-rol {
    -fx-text-fill: #94a3b8;
    -fx-font-size: 13px;
    -fx-font-family: "Segoe UI", sans-serif;
}